---

import Layout from '../layouts/Layout.astro';

---

<Layout title="Seven Group">

	<main >
        <h1>404 No encotré lo que estás buscando :(</h1>
        <h4>Seguro desde el <a href="/">inicio</a> lo encuentras.</h4>
	</main>

</Layout>
