---
import Layout from '../layouts/Layout.astro'
import Convenio from '../components/convenio.astro'

---

<Layout title='Convenios | Seven Group Colombia' convenios={true}>
	<main class='container px-6 py-10 mx-auto'>
		<h1 class='text-3xl font-semibold mb-8 capitalize lg:text-4xl'>
			Nuestros convenios
		</h1>

		<div id='cards'>
			<Convenio
				img='/accesorios.png'
				nombre='Accesorios Isaamar'
				descripcion='Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse maxime temporibus aut distinctio. Eos autem ab voluptate! '
				descuento='10'
				url='https://www.instagram.com/accesorios_isaamar/'
			/>
			<Convenio
				img='/valentin.jpg'
				nombre='Valentín'
				descripcion='Ofrecemos todo lo relacionado con Repostería y pastelería en general de alta calidad.'
				descuento='15'
				url='https://www.instagram.com/valentin.nva/'
			/>
			<Convenio
				img='/vinodelacaza.jpg'
				nombre={`Vino D' La Caza`}
				descripcion='Vino dulce $22000, Vino semi $25000 ( 5% descuento ), Sangría 330 ml $14000, Sangría 1000 ml $40000, Vino Carambolo $50000.'
				descuento='5'
				url='https://www.instagram.com/vino_dlacaza/'
			/>
			<Convenio
				img='/lenceria.jpg'
				nombre='Lencería Sanmy'
				descripcion='Distribuimos hermosa lencería y decoración hogar (Sábanas, edredones y mucho más). Disponibles para entrega inmediata, envios a todo el país.'
				descuento='7'
				url='https://web.facebook.com/sanmycalidadfrescuraparasuhogar'
			/>
		</div>
	</main>
</Layout>

<style>
	#cards {
		display: grid;
		gap: 1rem;
		grid-auto-flow: dense;
		/* grid-auto-rows: 22rem; */
		grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
	}
	@media(max-width: 500px){
		#cards{
			grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
		}
	}
</style>
