---
import Layout from '../layouts/Layout.astro'
import Convenio from '../components/convenio.astro'
---

<!-- 
<Layout title='Seven Group'>
	<main class='grid'>
		<Convenio
			img='/lenceria.jpg'
			nombre='Lencería Sanmy'
			descripcion='Somos un grupo empresarial especializado en ofrecer diferentes bienes y servicios ded alta calidad. A través nuestras marcas aliadas desarrollamos varias actividadeds comerciales y de servicio con el objetivo de dejar huella positiva en cada uno de nuestros clientes.'
			descuento='07'
			url='https://www.instagram.com/invites/contact/?i=118wku63sk0t0&utm_content=q3qwd1l'
		/>
		<Convenio
			img='/accesorios.png'
			nombre='Accesorios tal'
			descripcion='Hola mi broki ofrecemos accesorios re guaches para toda ocasion.'
			descuento='10'
			url='https://www.instagram.com/invites/contact/?i=118wku63sk0t0&utm_content=q3qwd1l'
		/>
		<Convenio
			img='/valentin.jpg'
			nombre='Valentín'
			descripcion='San valen valen, valen valen tin tin, tin tin. Quiero ser un saltarín.'
			descuento='20'
			url='https://www.instagram.com/invites/contact/?i=118wku63sk0t0&utm_content=q3qwd1l'
		/>
		<Convenio
			img='/vinodelacaza.jpg'
			nombre='Vino de la Caza'
			descripcion='Vino ribelino'
			descuento='15'
			url='https://www.instagram.com/invites/contact/?i=118wku63sk0t0&utm_content=q3qwd1l'
		/>
	</main>
</Layout> -->
<Layout title="Convenios | Seven Group Colombia">
	<main class='container px-6 py-10 mx-auto'>
		<h1 class='text-3xl font-semibold capitalize lg:text-4xl'>
			Nuestros convenios
		</h1>

		<p><i>Pronto...</i></p>

		<!-- <div class='grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2'>
			<Convenio
				img='/lenceria.jpg'
				nombre='Lencería Sanmy'
				descripcion='Somos un grupo empresarial especializado en ofrecer diferentes bienes y servicios ded alta calidad. A través nuestras marcas aliadas desarrollamos varias actividadeds comerciales y de servicio con el objetivo de dejar huella positiva en cada uno de nuestros clientes.'
				descuento='07'
				url='https://www.instagram.com/invites/contact/?i=118wku63sk0t0&utm_content=q3qwd1l'
			/>
			<Convenio
				img='/accesorios.png'
				nombre='Accesorios tal'
				descripcion='Hola mi broki ofrecemos accesorios re guaches para toda ocasion.'
				descuento='10'
				url='https://www.instagram.com/invites/contact/?i=118wku63sk0t0&utm_content=q3qwd1l'
			/>
			<Convenio
				img='/valentin.jpg'
				nombre='Valentín'
				descripcion='San valen valen, valen valen tin tin, tin tin. Quiero ser un saltarín.'
				descuento='20'
				url='https://www.instagram.com/invites/contact/?i=118wku63sk0t0&utm_content=q3qwd1l'
			/>
			<Convenio
				img='/vinodelacaza.jpg'
				nombre='Vino de la Caza'
				descripcion='Vino ribelino'
				descuento='15'
				url='https://www.instagram.com/invites/contact/?i=118wku63sk0t0&utm_content=q3qwd1l'
			/>
		</div> -->
	</main>
</Layout>
