---
import Hero from '../components/Hero.astro';
import Mision from '../components/Mision.astro';
import Logos from '../components/Logos.astro';
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Slider.astro';
import Contacto from '../components/Contacto.astro';
import Cards from '../components/Cards.astro';
---

<Layout title="Seven Group | Página web oficial">

	<main >
		<Hero />
		<Slider />
		<Logos />
		<Cards />
		<Mision />
		<Contacto />
	</main>

</Layout>
