---
import Card from './Card.astro'
---

<section class="flex flex-wrap w-10/12 gap-4 justify-center mx-auto">
	<Card title="Suscriptores a nivel nacional" descripcion="Nuestros afiliados del Ejército Nacional, Policía Nacional, activos y pensionados, magisterio, gobernaciones, alcaldías, multinacionales del país entre otras."/>
	<Card title="Convenios a nivel nacional" descripcion="Con los que ofrecemos excelentes descuentos en productos y servicios con beneficios para nuestros afiliados."/>
	<Card title="Somos empresa una líder" descripcion="Somos empresa líder en el país en convenios empresariales en todos los sectores y agremiaciones comerciales."/>
</section>
