---
import Card from './Card.astro'
---

<section class="flex flex-wrap w-10/12 gap-4 justify-center mx-auto">
	
	<Card title="Suscriptores a nivel nacional" descripcion="Nuestros afiliados del Ejército Nacional, Policía Nacional, activos y pensionados, magisterio, gobernaciones, alcaldías, multinacionales del país entre otras."/>
	<Card title="Convenios a nivel nacional" descripcion="Contamos con excelentes descuentos en productos y servicios con beneficios pra nuestros afiliados"/>
	<Card title="Somos una empresa líder" descripcion="Somos empresa líder en el país en convenios empresariales en todos los sectores y agremiaciones comerciales."/>
	<Card title="+2500 afiliados" descripcion="Más de 2500 afiliados y sus familias ya hacen uso de nuestros beneficios a nivel nacional."/>
</section>
