---
export interface Props {
	title: string
	body: string
	href: string
}

const { href, title, body } = Astro.props
---
<script is:inline>
	window.onscroll = ()=>{
		if(window.scrollY > 100){
			header.style.backgroundColor = '#0e0e0e'
			
		}
		if(window.scrollY < 100){
			header.style.backgroundColor = 'transparent'
			
		}
	}
</script>
<header id="header" class=' sticky t-0 z-10 transition duration-150'>
	<div class="flex items-center justify-between mx-32 ">
		<a href='/' class="flex items-center">
			<picture>
				<img src='/favicon.png' alt='Seven Group Logo' class='w-24' />
			</picture>
			<h1>Seven Group</h1>
		</a>
		<ul class='flex gap-4 font-bold'>
			<li><a class="p-3 hover:bg-[#161616] rounded " href='/'>Inicio</a></li>
			<li><a class="p-3 hover:bg-[#161616] rounded " href='#sobrenosotros'>Sobre nosotros</a></li>
			<li><a class="p-3 hover:bg-[#161616] rounded " href='#contacto'>Contacto</a></li>
		</ul>
	</div>
</header>
<style>
	header{
		top: 0;
	}
</style>
