<section class='h-[45vh] md:h-[60vh] w-full flex items-center'>
	<div
		class='relative container w-full mx-auto flex justify-around content-center'
	>
		<video id="video" src='/video.mp4' controls></video>
		<!-- <div class="mssg absolute bottom-[-60px] flex items-center justify-around rounded bg-blanco pl-4">
			<span class="text-black flex-grow">Dale play!</span>
			<img src="/ant.png" alt="Hormiga Seven Group" class="max-h-[70px] ">
		</div> -->
	</div>
</section>

<style>
	.mssg>span{
		color: #0e0e0e;
	}
	.mssg>img{
		transform: scaleX(-1) translateX(-20px);
	}
	div::before {
		content: '';
		background: rgba(165, 165, 165, 0.4);
		border-radius: 50%;
		filter: blur(100px);
		width: 300px;
		height: 300px;
		position: absolute;
		left: 300px;
		top: 150px;
		z-index: -1;
	}
	div::after {
		content: '';
		background: rgba(165, 165, 165, 0.2);
		border-radius: 50%;
		filter: blur(90px);
		width: 300px;
		height: 300px;
		position: absolute;
		right: 300px;
		bottom: 70px;
		z-index: -1;
	}

	@keyframes gradation {
		from {
			filter: hue-rotate(0deg);
		}
		to {
			filter: hue-rotate(-360deg);
		}
	}

	@media (max-width: 1020px) {
		.textwrapper > h2 {
			font-size: 3rem;
		}
	}
	@media (max-width: 630px) {
		.textwrapper > h2 {
			font-size: 2.7rem;
		}
		section::before {
			width: 150px;
			height: 150px;
			left: 50px;
			top: 100px;
		}
		div::after {
			display: none;
		}
		div::before {
			content: '';
			background: rgba(165, 165, 165, 0.4);
			border-radius: 50%;
			filter: blur(100px);
			width: 300px;
			height: 300px;
			position: absolute;
			left: 30px;
			top: 0px;
			z-index: -1;
		}
	}
</style>
