<section class='h-[45vh] md:h-[60vh] w-full flex items-center'>
	<div class='container w-full mx-auto flex justify-around content-center'>
		<!-- <div></div>
		<div class="textwrapper w-3/4 md:w-1/2 ">
			<h2 class=' font-bold text-7xl text-right '>
				La membresía más épica del planeta.
			</h2>
			<span class="inline-block mr-2 text-[#e0e0e0] w-full italic text-sm text-right">Seven Group</span>
		</div> -->
		<h1 class='font-bold text-9xl text-right'>Seven Group</h1>
	</div>
</section>

<style>
	section::before {
		content: '';
		background: rgba(231, 141, 6, 0.4);
		border-radius: 50%;
		filter: blur(60px);
		width: 300px;
		height: 300px;
		position: absolute;
		left: 200px;
		top: 200px;
		z-index: -1;
	}

	h1 {
		background-image: -webkit-linear-gradient(92deg, #ead651, #956808);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-animation: gradation 5s infinite cubic-bezier(0.84, 0.1, 0.56, 0.9);
		border: 5px solid white;
	}
	h1::after{
		content: 'Seven Group';
		position: absolute;
		margin: auto;
		top: 0;
		left: -100px;
		z-index: 2;
		color:black;
	}

	@keyframes gradation {
		from {
			filter: hue-rotate(0deg);
		}
		to {
			filter: hue-rotate(-360deg);
		}
	}

	@media (max-width: 1020px) {
		.textwrapper > h2 {
			font-size: 3rem;
		}
	}
	@media (max-width: 630px) {
		.textwrapper > h2 {
			font-size: 2.7rem;
		}
		section::before {
			width: 150px;
			height: 150px;
			left: 50px;
			top: 100px;
		}
	}
</style>
