<script is:inline>
	
	let xcord = 0
	setInterval(() => {
		if(xcord > 420) xcord = 0
		
		document.querySelector('#slider').scroll(xcord,0)
		xcord += 1

	}, 40)

</script>

<div id="container" class='w-full py-16 cursor-pointer'>
	<div class='m-auto mt-8'>
		<div class='m-auto text-center lg:w-7/12'>
			<h2 class='text-2xl font-bold md:text-4xl'>Nuestros convenios</h2>
		</div>
		<div
			id="slider"
			class='container w-10/12 mx-auto grid grid-flow-col place-items-center overflow-x-auto overflow-y-hidden pb-1 mb-1 lg:w-2/3'
		>
			<div
				class='relative grid place-items-center p-4 cursor-pointer transition duration-400 ease-linear'
			>
				<img class="max-h-[128px]" src='/lenceria.jpg' alt='Logo Seven Group' />
				<span
					id='descuento'
					class=' absolute top-0 left-3 p-2 bg-[#e7b242] text-[#1e1e1e]'
					>7%</span
				>
			</div>
			<div
				class='relative grid place-items-center p-4 cursor-pointer transition duration-400 ease-linear'
			>
				<img class="max-h-[128px]" src='/accesorios.png' alt='Logo Seven Group' />
				<span
					id='descuento'
					class=' absolute top-0 left-3 p-2 bg-[#e7b242] text-[#1e1e1e]'
					>10%</span
				>
			</div>
			<div
				class='relative grid place-items-center p-4 cursor-pointer transition duration-400 ease-linear'
			>
				<img class="max-h-[128px]" src='/vinodelacaza.jpg' alt='Logo Seven Group' />
				<span
					id='descuento'
					class=' absolute top-0 left-3 p-2 bg-[#e7b242] text-[#1e1e1e]'
					>5%</span
				>
			</div>
			<div
				class='relative grid place-items-center p-4 cursor-pointer transition duration-400 ease-linear'
			>
				<img class="max-h-[128px]" src='/valentin.jpg' alt='Logo Seven Group' />
				<span
					id='descuento'
					class=' absolute top-0 left-3 p-2 bg-[#e7b242] text-[#1e1e1e]'
					>15%</span
				>
			</div>
			<div
			class='relative grid place-items-center p-4 cursor-pointer transition duration-400 ease-linear'
		>
			<img class="max-h-[128px]" src='/marrivas.jpeg' alt='Logo Seven Group' />
			<span
				id='descuento'
				class=' absolute top-0 left-3 p-2 bg-[#e7b242] text-[#1e1e1e]'
				>5%</span
			>
		</div>
		</div>
	</div>
	<p class="text-center italic">Más de 4000 personas ya están disfrutando de estos beneficios...</p>
</div>
<script is:inline>
	document.getElementById("container").addEventListener('click', ()=> window.location.href = "https://sevengroupcolombia.com.co/convenios")
</script>
<style>
	.container::-webkit-scrollbar {
        height: 0px;
    }
    .container::-webkit-scrollbar-thumb {
        background: #f2b32a;
        border-radius: 3px;
    }
	.container > div {
		width: 12rem;
	}
	.container>div:hover {
		transform: scale(1.1);
	}
	p{
		color: rgb(212, 212, 212);
	}
	#descuento {
		clip-path: polygon(9% 16%, 89% 16%, 90% 79%, 75% 79%, 86% 100%, 51% 80%, 9% 79%);
	}
	@media (max-width: 640px) {
		.container > div {
			width: 10rem;
		}
	}
</style>
