<div class='w-full py-16 mb-8'>
	<div class='m-auto mt-8'>
		<div class='m-auto text-center lg:w-7/12'>
			<h2 class='text-2xl font-bold md:text-4xl'>Nuestros convenios</h2>
		</div>
		<div
			class='container m-auto flex flex-wrap justify-center place-items-center'
		>
			<div
				class='p-4 saturate-0 hover:saturate-100 transition duration-400 ease-linear'
			>
				<img src='/lenceria.jpg' alt='Logo Seven Group' />
			</div>
			<div
				class='p-4 saturate-0 hover:saturate-100 transition duration-400 ease-linear'
			>
				<img src='/accesorios.png' alt='Logo Seven Group' />
			</div>
			<div
				class='p-4 saturate-0 hover:saturate-100 transition duration-400 ease-linear'
			>
				<img src='/vinodelacaza.jpg' alt='Logo Seven Group' />
			</div>
		</div>
	</div>
</div>
<style>
	.container > div {
		width: 12rem;
	}
	@media (max-width: 640px) {
		.container > div {
			width: 8rem;
		}
	}
</style>
