
<div class="w-full py-16">
    <div class="m-auto">
        <div class="m-auto text-center lg:w-7/12">
            <h2 class="text-2xl font-bold md:text-4xl">Nuestros convenios</h2>
        </div>
        <div class="flex flex-wrap justify-center place-items-center">
            <div class="p-4 saturate-0 hover:saturate-100 transition duration-400 ease-linear w-42 lg:w-56">
                 <img src="/logocompleto.png" alt="Logo Seven Group" >
            </div>
            <div class="p-4 saturate-0 hover:saturate-100 transition duration-400 ease-linear w-42 lg:w-56">
                 <img src="/logocompleto.png" alt="Logo Seven Group" >
            </div>
            <div class="p-4 saturate-0 hover:saturate-100 transition duration-400 ease-linear w-42 lg:w-56">
                 <img src="/logocompleto.png" alt="Logo Seven Group" >
            </div>
            <div class="p-4 saturate-0 hover:saturate-100 transition duration-400 ease-linear w-42 lg:w-56">
                 <img src="/logocompleto.png" alt="Logo Seven Group" >
            </div>
            <div class="p-4 saturate-0 hover:saturate-100 transition duration-400 ease-linear w-42 lg:w-56">
                 <img src="/logocompleto.png" alt="Logo Seven Group" >
            </div>
            <div class="p-4 saturate-0 hover:saturate-100 transition duration-400 ease-linear w-42 lg:w-56">
                 <img src="/logocompleto.png" alt="Logo Seven Group" >
            </div>
            <div class="p-4 saturate-0 hover:saturate-100 transition duration-400 ease-linear w-42 lg:w-56">
                 <img src="/logocompleto.png" alt="Logo Seven Group" >
            </div>

        </div>
    </div>
</div>